/.aws
/.bash_logout
/.bashrc
/.cache
/.env.example
/.gnupg
/.jupyter
/.kiro
/.kiro-server
/.local
/.profile
/.ssh
/.sudo_as_admin_successful
/.vscode
/BUILD_FROM_SOURCE_PACKAGES_LICENCES
/LINUX_PACKAGES_LICENSES
/LINUX_PACKAGES_LIST
/OSSNvidiaDriver_v580.95.05_license.txt
/PYTHON_PACKAGES_LICENSES
/THIRD_PARTY_SOURCE_CODE_URLS
/nvidia-acknowledgements